/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

p{
  font-size: 1.5rem;
}

/******************************************
/* LAYOUT
/*******************************************/

#description {
  text-transform: capitalize;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#location::after {
  content: ", ";
}

.clearskies{
  background: url(../images/sunny1.jpg) no-repeat;
  background-size: cover;
}

.few-clouds{
  background: url(../images/clearskies.jpg) no-repeat;
  background-size: cover;
}

.skattered-clouds{
  background: url(../images/scatteredclouds.jpg) no-repeat;
  background-size: cover;
}

.shower-rain{
  background: url(../images/showerrain.jpg) no-repeat;
  background-size: cover;
}

.rain{
  background: url(../images/rain.jpg) no-repeat;
  background-size: cover;
}

.thunderstorm{
  background: url(../images/thunderstorm.jpg) no-repeat;
  background-size: cover;
}

.snow{
  background: url(../images/snow.jpg) no-repeat;
  background-size: cover;
}

.fog{
  background: url(../images/mist.jpg) no-repeat;
  background-size: cover;
}
